@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(0 0% 14.50%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 14.50%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 14.50%);
  --primary: hsl(174 94% 28.00%);
  --primary-foreground: hsl(0 0% 98.50%);
  --secondary: hsl(173 35% 60%);
  --secondary-foreground: hsl(0 0% 20.50%);
  --muted: hsl(0 0% 97%);
  --muted-foreground: hsl(0 0% 55.60%);
  --accent: hsl(0 0% 97%);
  --accent-foreground: hsl(0 0% 20.50%);
  --destructive: hsl(0 80% 57.70%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(0 0% 92.20%);
  --input: hsl(0 0% 92.20%);
  --ring: hsl(0 0% 70.80%);
  --chart-1: hsl(41 78% 64.60%);
  --chart-2: hsl(185 68% 60%);
  --chart-3: hsl(227 65% 39.80%);
  --chart-4: hsl(84 63% 82.80%);
  --chart-5: hsl(70 68% 76.90%);
  --sidebar: hsl(0 0% 98.50%);
  --sidebar-foreground: hsl(0 0% 14.50%);
  --sidebar-primary: hsl(0 0% 20.50%);
  --sidebar-primary-foreground: hsl(0 0% 98.50%);
  --sidebar-accent: hsl(0 0% 97%);
  --sidebar-accent-foreground: hsl(0 0% 20.50%);
  --sidebar-border: hsl(0 0% 92.20%);
  --sidebar-ring: hsl(0 0% 70.80%);
  --font-sans: Roboto, sans-serif;
  --font-serif: Roboto, sans-serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 0.625rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

.dark {
  --background: hsl(255 0% 10%);
  --foreground: hsl(0 0% 98%);
  --card: hsl(255 0% 12%);
  --card-foreground: hsl(0 0% 98%);
  --popover: hsl(255 0% 10%);
  --popover-foreground: hsl(0 0% 98%);
  --primary: hsl(174 94% 28.00%);
  --primary-foreground: hsl(0 0% 98%);
  --secondary: hsl(173 35% 60%);
  --secondary-foreground: hsl(240 5.90% 10%);
  --muted: hsl(240 3.70% 15.90%);
  --muted-foreground: hsl(240 5% 64.90%);
  --accent: hsl(240 3.70% 15.90%);
  --accent-foreground: hsl(0 0% 98%);
  --destructive: hsl(0 62.80% 30.60%);
  --destructive-foreground: hsl(0 85.70% 97.30%);
  --border: hsl(240 3.70% 15.90%);
  --input: hsl(255 0% 10%);
  --ring: hsl(240 4.90% 83.90%);
  --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55.00%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55.00%);
  --sidebar: hsl(240 5.90% 10%);
  --sidebar-foreground: hsl(240 4.80% 95.90%);
  --sidebar-primary: hsl(224.30 76.30% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.70% 15.90%);
  --sidebar-accent-foreground: hsl(240 4.80% 95.90%);
  --sidebar-border: hsl(240 3.70% 15.90%);
  --sidebar-ring: hsl(240 4.90% 83.90%);
  --font-sans: Roboto, sans-serif;
  --font-serif: Roboto, sans-serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 0.625rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
    scroll-behavior: smooth;
  }
}